body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.home {
	width: 100%;
	height: 384px;
	background: url('../img/home-bg-blue.jpg') center top no-repeat;
}

.home .hero-unit {
	background: none;
	height: 324px;
	padding: 55px 620px 0 0;
	margin-right: -80px;
	margin-bottom: 0;
}

.home .hero-unit h1 {
	font-size: 52px;
	line-height: 1.1;
	font-weight: bold;
	color: #fff;
	margin-top: 90px;
	text-shadow: 0 0 10px 40px #000;
}

.home .hero-unit h1 small {
	font-weight: normal;
	color: #fff;
	display: block;
	font-size: 22px;
	letter-spacing: 5px;
}

.home .hero-unit p {
	margin: 1em 0;
	font-size: 20px;
}

.home .hero-unit .btn {
	font-size: 24px;
	padding: 12px 32px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	margin-top: 15px;
	box-shadow: none;
	border: 0;
	letter-spacing: 15px;
}

#login-modal,#signup-modal {
	width: 350px;
	height: 354px;
	background-image: url("../img/login/loginBJ.png");
	border-radius: 10px;
	box-shadow: 0 1px 0 white inset;
	margin-left: -179px;
}

#login-modal fieldset,#signup-modal fieldset {
	margin: 80px 30px 0 30px;
}

#login-modal fieldset .input-prepend,#signup-modal fieldset .input-prepend
	{
	padding: 2px 0;
	width: 280px;
	margin: 18px auto 0 auto;
}

#login-modal fieldset input,#signup-modal fieldset input {
	width: 243px;
}

.button1 {
	background-image: url("../img/login/loginButton.png");
	margin: 20px auto 0 auto;
	line-height: 65px;
	font-family: Î¢ÈíÑÅºÚ;
	border-radius: 5px;
	border: 0px solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
	text-align: center;
	width: 285px;
	height: 65px;
	font-size: 16px;
	letter-spacing: 15px;
}

.button1:hover {
	background-image: url("../img/login/loginButtonDown.png");
	margin: 20px auto 0 auto;
	line-height: 65px;
	font-family: Î¢ÈíÑÅºÚ;
	border-radius: 5px;
	border: 0px solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
	text-align: center;
	width: 285px;
	height: 65px;
	font-size: 16px;
	letter-spacing: 15px;
}

.button1:active {
	background-image: url("../img/login/loginButton.png");
	margin: 20px auto 0 auto;
	line-height: 65px;
	font-family: Î¢ÈíÑÅºÚ;
	border-radius: 5px;
	border: 0px solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
	text-align: center;
	width: 285px;
	height: 65px;
	font-size: 16px;
	letter-spacing: 15px;
}

.squaredFour {
	left: -130px;
	bottom: -10px;
	width: 20px;
	margin: 20px auto;
	position: relative;
	display: block;
}

.squaredFour label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px
		rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#fcfff4',
		endColorstr='#b3bead', GradientType=0 );
}

.squaredFour label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity =   0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredFour label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity =   30);
	opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked+label:after {
	-ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100 ) \";
	filter: alpha(opacity =   100);
	opacity: 1;
}

#mapContainer img {
	max-width: none;
}