body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

form,ul {
	margin: 0px;
}

/************************************* ÐÞ¸ÄbootstrapµÄ   */
.table th,.table td {
	text-align: center;
	vertical-align: middle;
	width: 25%;
}

.table thead tr>th {
	background-color: #d9edf7;
}

.form-horizontal .control-label {
	width: 120px;
}

.form-horizontal .controls {
	margin-left: 140px;
}

.navbar .nav>li>div {
	float: none;
	padding: 10px 0px 10px;
	color: #000000;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}
/*************************************   */
#mapContainer img {
	max-width: none;
}

label.invalid {
	color: red;
	font-weight: bold;
	background: url("../img/unchecked.gif") no-repeat 0px 0px;
	padding-left: 16px;
}

label.valid {
	color: green;
	background: url("../img/checked.gif") no-repeat 0px 0px;
}

.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}

.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 18px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,.progressBarComplete,.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../img/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}