<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
	    <property name="hibernate.show_sql">true</property>
	    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        
        <!-- 定义二级缓存 -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		
		<!-- 二级缓存使用的存储,ehcache或memcached -->
		<property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>
 		<!-- <property name="hibernate.cache.provider_class">com.googlecode.hibernate.memcached.MemcachedCacheProvider</property>
		<property name="hibernate.memcached.servers">localhost:11211</property> -->
 
        
        <mapping resource="com/chihuo/bussiness/Restaurant.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/Category.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/Recipe.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/DeskType.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/Desk.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/Order.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/OrderItem.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/Users.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/UserSNS.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/Waiter.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/Owner.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/Device.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/Logins.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/Favorite.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/City.hbm.xml" />
        <mapping resource="com/chihuo/bussiness/Assistent.hbm.xml" />
    </session-factory>
</hibernate-configuration>
