<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

     <http pattern="/assets/**" security="none" />
     <http pattern="/index" security="none" />
     <http pattern="/rest/**" security="none" />

	<http use-expressions="true">
        <intercept-url pattern="/index" access="permitAll" />
        <intercept-url pattern="/secure/extreme/**" access="hasRole('supervisor')" />
        <intercept-url pattern="/secure/**" access="isAuthenticated()" />
        <intercept-url pattern="/listAccounts.html" access="isAuthenticated()" />
        <intercept-url pattern="/post.html" access="isAuthenticated()" />
        <intercept-url pattern="/**" access="denyAll" />
        <form-login />
        <logout />
    </http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="rod" password="1" authorities="supervisor, teller, user" />
                <user name="dianne" password="1" authorities="teller, user" />
                <user name="scott" password="1" authorities="user" />
                <user name="peter" password="1" authorities="user" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>